
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <h1>Welcome!</h1>
    }
    else
    {
        <h1 class="display-4">@ViewBag.Message</h1>
    }

</div>
