

@{
    ViewData["Title"] = "Cart page";
    var cartItems = ViewBag.Cart;
}

@if(cartItems.Count == 0)
{
    <div class="text-center">
        <h1>Your cart is empty! </h1>
        <hr />
        <a asp-controller="Home" asp-action="Products">Continue shopping</a>
    </div>
}
else
{
    <div class="text-center">
        <h1>Cart items</h1>
    </div>
    <div class="container">
         <partial name="_CartPartial" model ="@cartItems" />
        <a class="btn btn-primary btn-lg float-lg-start" asp-controller="Home" asp-action="Products"> Continue shopping</a>
        <a class="btn btn-success btn-lg float-lg-end" asp-controller="Home" asp-action="Order">Order products</a>
    </div>  
}